.comefemerides-main{
  text-align: justify;
}
.comefemerides-content{
  width: 100%;
}

.comefemerides-head p
{  
  float:left;  
  width: 33%;
}

.comefemerides-list p
{
  float:left;
  width: 33%;
}

.comefemerides-head
{
  font-weight: bold;
}